@page "{queryGuid?}"
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h2>Workitems</h2>
<div asp-validation-summary="All" class="text-danger">
</div>
@if(Model.WorkItems != null){
@foreach (var wi in Model.WorkItems)
{
<div class="card" style="margin-bottom:10px;">

    <div class="card-body" style="border-left:solid 3px @DevOpsStyle.GetBorderColorByItemType(wi.Fields["System.WorkItemType"].ToString());">
        <small style="float:right;">
        <a target="devops" href="@Model.GetUrlToWorkItem(wi)">@wi.Fields["System.WorkItemType"] @wi.Id</a>
        </small>
        <h4 class="card-title">@wi.Fields["System.Title"]</h4>
        @Html.Raw(@wi.Fields.GetValueOrDefault("System.Description"))
    </div>
</div>
}
}
